

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all 0.8s ease 0s;
    -webkit-transition: all 0.8s ease 0s;
    -moz-transition: all 0.8s ease 0s;
    -ms-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
}

.popup__body {
    min-height: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 15px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.popup__content {
    max-width: 475px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: #ffff;
    position: relative;
    transition: all 0.8s ease 0s;
    -webkit-transition: all 0.8s ease 0s;
    -moz-transition: all 0.8s ease 0s;
    -ms-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
}

.popup__close {
    position: absolute;
    text-decoration: none;
    color: #000;
    font-weight: 700;
    right: 7px;
    top: 3px;
    width: 3%;
}

.popup__subtitle {
    padding-left: 45px;
    font-weight: 300;
    font-size: 14px;
    text-align: left;
    margin-top: 35px;
}

.popup-list {
    padding: 12px;
    text-align: left;
}

.popup-list__item {
    color: #ffd200;
    margin-bottom: 10px;
}

.popup-list__text {
    color: #000000;
    margin-left: 10px;
}

.popup-form {
    padding: 30px;
    background-color:#f57b1b;
    text-align: center;
}

.popup-form__title {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 40px;
    color: #000;
    line-height: normal;
}

.popup-form__subtitle {
    font-weight: 500;
    font-size: 14px;
    color: #000;
}

.popup-form__input {
    width: 85%;
    margin-bottom: 15px;
    padding: 22px 22px;
    border: 1px solid #e8e8e8;

}

.popup-form__descr {
    display: block;
    font-weight: 500;
    margin-top: 22px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #000;
}

.popup-form__tel {
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    color: #000000;
}

.popup-form__button {

    background-color: #1dae0e;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-left: 3px;
    padding: 16px 22px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 0px;
    transition: all 250ms ease-in-out 0s;
    outline: none;
}

.popup-form__button:hover{
    background-color: #444;
    border-color: #444;
}

.form-popup {
    padding-left: 80px;
    padding-right: 80px;

}

.form-popup__name {
    margin-top: 40px;
}

.open {
    opacity: 1;
    visibility: visible;
    z-index: 9999999;
}

.lock {
    overflow:hidden;
}

.popup_load_page{
    position: fixed;
    display: none; /* Скрываем блок до отправки формы */
    justify-content: center; /* Горизонтальное выравнивание элементов внутри блока */
    align-items: center; /* Вертикальное выравнивание элементов внутри блока */
    width: 100%; /* Ширина блока 100% от ширины родительского блока */
    height: 100%; /* Высота блока 100% от высоты родительского блока */
    top: 0; /* Прижимаем блок к верхнему краю родительского блока */
    opacity: 0;	/* Делаем блок невидимым */
    animation: pulsing-bg 2s ;
}

.popup_thanks {
    position: fixed;
    display: none; /* Скрываем блок до отправки формы */
    justify-content: center; /* Горизонтальное выравнивание элементов внутри блока */
    align-items: center; /* Вертикальное выравнивание элементов внутри блока */
    width: 100%; /* Ширина блока 100% от ширины родительского блока */
    height: 100%; /* Высота блока 100% от высоты родительского блока */
    top: 0; /* Прижимаем блок к верхнему краю родительского блока */
    opacity: 0; /* Делаем блок невидимым */
}

.active {
    display: flex;
    opacity: 1;
    transition: opacity 1s;
    z-index: 99999999;
}

.thanks {
    position: relative; /* Устанавливает родительскую позицию */
    text-align: center; /* Выравнивание текста по центру */
    width: 440px; /* Ширина блока 440px */
    max-width: 100%; /* Максимальная ширина блока не может быть более 100% */
    border: 1px solid #00000038; /* Рамка вокруг блока */
    border-radius: 10px; /* Закругление блока на 4px */
    background-color: #ffffffeb; /* Цвет фона */
    padding: 15px 15px;
}

.close-thanks {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 4%;
    cursor: pointer;
    z-index: 666666;

}

.close-icons{
    width: 75%;
}

.popup_thanks__title{
    font-size: 30px;
    font-weight: 400;
    background: none;
    padding: 0;
}

.popup_thanks__subtitle{
    margin-top: 10px;
    margin-bottom: 10px;
}

.overlay-form {
    position: absolute; /* Устанавливает абсолютную позицию */
    top: 0; /* Прижимаем блок к верхнему краю родительского блока */
    width: 100%; /* Ширина блока 100% от ширины родительского блока */
    height: 100%; /* Высота блока 100% от высоты родительского блока */
    background-color: #000; /* Устанавливает цвет фона */
    z-index: -1; /* Определяем порядок расположения блоков */
    opacity: 0.8; /* Прозрачность 0.3 из 1 */
}
